/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2017 (14.0.1000)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [dbundervisningwebservice]
GO
/****** Object:  Table [dbo].[tbl_Post]    Script Date: 12-04-2018 08:43:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Post](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Postnr] [varchar](4) NOT NULL,
	[Bynavn] [varchar](100) NOT NULL,
 CONSTRAINT [PK_tbl_Post] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Post] ON 

INSERT [dbo].[tbl_Post] ([ID], [Postnr], [Bynavn]) VALUES (1, N'2000', N'Frederiksberg')
INSERT [dbo].[tbl_Post] ([ID], [Postnr], [Bynavn]) VALUES (2, N'2100', N'København Ø')
INSERT [dbo].[tbl_Post] ([ID], [Postnr], [Bynavn]) VALUES (3, N'2150', N'Nordhavn')
GO
SET IDENTITY_INSERT [dbo].[tbl_Post] OFF
