@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <noscript>
        <meta http-equiv="refresh" content="0;URL='/nope'" />
    </noscript>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout</title>
    <link href="~/Style/main.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="kurv">
            <div class="path">1. Indkøbskurv <span> / 2. Leveringsoplysninger</span></div>
            <h1 class="pageTitle">Indkøbskurv</h1>
            <div class="flex sb">
                <div><a class="col-black" href="/"><span class="fa-icon m-r1">&#xf0a8;</span>Tilbage til shoppen</a></div>
                <div><a class="col-black" href="/levering">Videre<span class="fa-icon col-pink m-l1">&#xf0a9;</span></a></div>
            </div>
            <div class="kurv-indhold">
                <table>
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Pris per. styk i DKK</th>
                            <th>Antal</th>
                            <th>Spar</th>
                            <th style="text-align: right">Pris i DKK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-price="239.99" data-productID="1">
                            <td>
                                <div class="product flex">
                                    <img src="https://www.placecage.com/60/80" alt="nicolas cage" />
                                    <div class="product-info">
                                        <div class="genre">Oscar vindere</div>
                                        <div class="title"><strong>Nicolas' hemmelighed vol. 4</strong></div>
                                        <div class="levering">Leveringstid: 1 - 14 dage</div>
                                    </div>
                                </div>
                            </td>
                            <td>239.99 DKK</td>
                            <td><div class="flex counter"><div class="counter-minus">-</div><input class="itemAmount" maxlength="3" type="text" value="2" /><div class="counter-plus">+</div></div></td>
                            <td></td>
                            <td class="totalPrice"><span>479.98</span> DKK</td>
                        </tr>
                        <tr data-price="219.99" data-productID="2">
                            <td>
                                <div class="product flex">
                                    <img src="https://www.fillmurray.com/60/80" alt="bill murray" />
                                    <div class="product-info">
                                        <div class="genre">Oscar norminerede</div>
                                        <div class="title"><strong>Bills hemmelighed vol. 2</strong></div>
                                        <div class="levering">Leveringstid: 1 - 10 dage</div>
                                    </div>
                                </div>
                            </td>
                            <td>219.99 DKK</td>
                            <td><div class="flex counter"><div class="counter-minus">-</div><input class="itemAmount" maxlength="3" type="text" value="1" /><div class="counter-plus">+</div></div></td>
                            <td></td>
                            <td class="totalPrice"><span>219.99</span> DKK</td>
                        </tr>
                        <tr data-price="119.99" data-productID="3">
                            <td>
                                <div class="product flex">
                                    <img src="https://www.stevensegallery.com/60/80" alt="steven segal" />
                                    <div class="product-info">
                                        <div class="genre">Irrelevante skuespillere</div>
                                        <div class="title"><strong>Stevens nedtur vol. 1</strong></div>
                                        <div class="levering">Leveringstid: 1 - 30 dage</div>
                                    </div>
                                </div>
                            </td>
                            <td>119.99 DKK</td>
                            <td><div class="flex counter"><div class="counter-minus">-</div><input class="itemAmount" maxlength="3" type="text" value="1" /><div class="counter-plus">+</div></div></td>
                            <td></td>
                            <td class="totalPrice"><span>119.99</span> DKK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="summary-contain">
                <div></div>
                <div class="summary">
                    <div class="border p-b1">
                        <div class="flex sb">
                            <span>Samlet vejl. udsalgspris</span>
                            <span id="summarymsrp"><span>819.96</span> DKK</span>
                        </div>
                        <div class="flex sb">
                            <span>Heraf moms</span>
                            <span id="summaryMoms"><span>163.99</span> DKK</span>
                        </div>
                    </div>
                    <div class="flex sb p-t1 p-b1 border">
                        <span>Levering (Afhent fragtfrit i butik)</span>
                        <span>0,00 DKK</span>
                    </div>
                    <div class="flex sb p-t1 p-b1 dborder">
                        <span class="summary-priceText"><strong>Pris i alt</strong></span>
                        <span>
                            <strong id="summaryTotalPrice"><span>819.96</span> DKK</strong>
                            <br />
                            <span class="col-grey summary-inklmoms">inkl. moms</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex sb m-t5">
                <div><a class="col-black" href="/"><span class="fa-icon m-r1">&#xf0a8;</span>Tilbage til shoppen</a></div>
                <a class="btn shop-continue bg-pink" href="/Levering">Videre<span class="fa-icon m-l2">&#xf0a9;</span></a>
            </div>
        </div>
    </div>
    <script>
        $(".counter-plus").click(function () {
            var thisInput = $(this).siblings("input");
            var itemAmount = parseInt(thisInput.val());
            if (itemAmount > 0 && itemAmount <= 99) {
                thisInput.val(itemAmount + 1);
                updatePrices(thisInput);
            }
        });

        $(".counter-minus").click(function () {
            var thisInput = $(this).siblings("input");
            var itemAmount = parseInt(thisInput.val());
            if (itemAmount > 1 && itemAmount <= 100) {
                thisInput.val(itemAmount - 1);
                updatePrices(thisInput);
            }
        });

        $(".counter input").blur(function () {
            var thisVal = $(this).val();
            if (thisVal.length > 0 && thisVal > 0 && thisVal <= 100) {
                updatePrices($(this));
            }
            else {
                $(this).val(1);
                updatePrices($(this));
            }
        });

        function updatePrices(elem) {
            var itemAmount = parseInt(elem.val());
            var pricePerItem = parseFloat(elem.parents("tr").attr("data-price"));
            var totalPrice = (itemAmount * pricePerItem).toFixed(2);
            //Total items price
            var totalItemPriceElem = elem.parents("td").siblings(".totalPrice").find("span");
            totalItemPriceElem.text(totalPrice);
            //Total price
            var summaryTotalPrice = 0;
            $(".totalPrice span").each(function () {
                var thisPrice = parseFloat($(this).text());
                summaryTotalPrice += thisPrice;
            })
            $("#summaryTotalPrice span").text(summaryTotalPrice.toFixed(2));
            //msrp price
            $("#summarymsrp span").text(summaryTotalPrice.toFixed(2));
            //moms
            var moms = summaryTotalPrice * 0.2;
            $("#summaryMoms span").text(moms.toFixed(2))
        }
    </script>
</body>
</html>