@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nope</title>
</head>
<body>
    <div style="height: 100vh; display: flex; justify-content: center; align-items: center; background: url(https://media1.giphy.com/media/lcaMlZmmMULMA/giphy.gif); background-repeat: no-repeat; background-position: center; background-size: contain;">
    </div>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }
    </style>
    <script>window.location.replace("/")</script>
</body>
</html>